#container {
    height: 100vh;
}

#container > header > nav {
    height: 80px;
}

.body {
    height: calc(100vh - 90px);
}

.jt-search {
    display: block;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    padding: 0.3rem 0.7rem;
    line-height: 1.5;
    border: 0.5px solid #ced4da;
}

.jt-navsearch {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.row {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34; 
    height: calc(100vh - 80px)
    
}

aside .nav-link:hover{
    background-color: #A5AAAE;
  }
  