#container-totale {
    height: 100vh;    
}




.jt-search {
    display: block;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    padding: 0.3rem 0.7rem;
    line-height: 1.5;
    border: 0.5px solid #ced4da;
}

.jt-navsearch {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.row .col-1 {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    
}

header {
    height: 80px;
    padding-top: 0.5rem;
    z-index: 999;
}
main {
    height: calc(100vh - 80px);
}

#container-totale > main > div > div > div.col-1.text-white.d-flex.flex-column.justify-content-between.p-0 {
    height: calc(100vh - 80px);
    z-index: 1;
}


.jt-avatar {
    max-width: 25px;
}

#container-totale > main > div > div > div.col-11.d-flex.mx-0.flex-wrap {
overflow-y: auto;
height: 100%;
}

#container-totale > header > nav > div > a.navbar-brand.d-inline.d-lg-none > img {
    width: 30px;
}

@media only screen and  (max-width: 990px) {
	#container-totale > header > nav > div {
        flex-wrap: unset;

    }
}

